<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- folha geral -->
    <link rel="stylesheet" href="../css/ferramentas.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Ferramentas</title>
</head>
<body class="pg-ferramentas">
  <header class=" ">
    <nav class="navbar navbar-expand-md px-md-1" id="menu">
      <div class="container-fluid ">
        <!-- logo fixed-top-->
        <a class="navbar-brand me-auto" href="#">
          <img src="../img/logo-fundos-brancos.png" alt="logo" class="logo">
        </a>
        <!-- btn menu telas pequenas -->
        <button class="btn d-md-none justify-content-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" id="offcanvas-btn">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- offcanvas -->
        <div class="offcanvas offcanvas-end " tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
          <!--offcanvas header-->
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">
                <img src="../img/logo-fundos-brancos.png" alt="logo" class="logo">
            </h5>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas" data-bs-target="#offcanvas" aria-label="Close"></button>
          </div>
          <!--offcanvas body-->
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-md-center align-items-md-center flex-grow-1">
            <!-- navbar links -->
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" th:href="@{/ferramentas}">Ferramentas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/sobre}">Sobre Nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/contato}">Contato</a>
                </li>
            </ul>
            <!-- btn entrar -->
            <div class="btn-cad-ent my-3 my-md-0">
                <a th:href="@{/entrar}" class="btn btn-light">Entrar</a>
                <a th:href="@{/cadastrar}"  class="btn btn-primary">Cadastrar</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
</header> 
      <main class="container">
        <div class=" ">
          <!-- flex-column flex-sm-row justify-content-center  align-items-center -->
          <ul class="row d-nav list-unstyled justify-content-center align-items-center">
            <!-- d-nav list-unstyled d-flex flex-wrap gap-4 justify-content-center  gap-3 -->
            <li class="col-12 col-md-6 col-lg-3">
                <a href="#" class="btn btn-primary d-block mb-3 me-md-3">Simulador de empréstimo</a>
            </li>
            <li class="col-12 col-md-6 col-lg-3 ">
                <a href="#" class="btn btn-primary d-block mb-3 me-md-3">Gestão financeira</a>
            </li>
            <li class="col-12 col-md-6 col-lg-3 ">
                <a href="#" class="btn btn-primary d-block mb-3 me-md-3">Gestão de estoque</a>
            </li>
            <li class="col-12 col-md-6 col-lg-3 ">
              <a href="#" class="btn btn-primary d-block mb-3 me-md-3">Gestão de pessoas</a>
          </li>
        </ul>
        </div>
        <section>
          <h3>Nossos softwares</h3>
          <p>Lorem ipsum dolor sit amet. Qui autem temporibus ut rerum quaerat At deleniti nemo sed dicta inventore. Aut illo illo sed illum quia quo magnam illum. Vel tenetur iusto ut voluptatem molestiae vel voluptas obcaecati est fugit quisquam est asperiores autem ut tempora sint hic autem sequi. Est cumque delectus qui odit quae eos necessitatibus sint qui velit officiis et dolorem ipsum ut omnis eius. Ut officia fugiat aut dolores nemo qui iste velit. Id ducimus internos hic commodi amet ab officiis iste id omnis rerum sit dolorem debitis aut molestias nulla! Et repellendus illo et galisum quibusdam qui dolore ipsam et temporibus sunt est sunt nisi. Sed quidem quibusdam eum galisum quasi et omnis repellat.
          </p>
        </section>
        <section>
          <h3>Nossas Planilhas</h3>
          <p>Lorem ipsum dolor sit amet. Qui autem temporibus ut rerum quaerat At deleniti nemo sed dicta inventore. Aut illo illo sed illum quia quo magnam illum. Vel tenetur iusto ut voluptatem molestiae vel voluptas obcaecati est fugit quisquam est asperiores autem ut tempora sint hic autem sequi. Est cumque delectus qui odit quae eos necessitatibus sint qui velit officiis et dolorem ipsum ut omnis eius. Ut officia fugiat aut dolores nemo qui iste velit. Id ducimus internos hic commodi amet ab officiis iste id omnis rerum sit dolorem debitis aut molestias nulla! Et repellendus illo et galisum quibusdam qui dolore ipsam et temporibus sunt est sunt nisi. Sed quidem quibusdam eum galisum quasi et omnis repellat.
          </p>
        </section>
      </main>
  <footer class="container-fluid">
    <!--  justify-content-md-between -->
    <div class="row">
      <div class="footer-logo col-12 col-md-6 mb-3">
        <img src="../img/logo-fundos-brancos.png" alt="logo" class="logo">
        <p>Apoio especializado para o sucesso de pequenos negócios</p>
      </div>

      <div class="col-12 col-md-6 mx-auto mb-3">
        <h5>Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
			<a th:href="@{/home}" class="nav-link p-0 text-body-secondary">Home</a>
					</li>
					<li class="nav-item mb-2">
						<a th:href="@{/ferramentas}" class="nav-link p-0 text-body-secondary">Ferramentas</a>
					</li>
					<li class="nav-item mb-2">
						<a th:href="@{/sobre}" class="nav-link p-0 text-body-secondary">Sobre Nós</a>
					</li>
					<li class="nav-item mb-2">
						<a th:href="@{/contato}" class="nav-link p-0 text-body-secondary">Contato</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Política de Privacidade</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-3  border-top align-items-center">
      <p>&copy; 2023 Business Direction. Todos os direitos reservados.</p>
      <ul class="social-media list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#">
          <i class="bi bi-twitter"></i>
        </a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#">
          <i class="bi bi-instagram"></i>
        </a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#">
          <i class="bi bi-facebook"></i>
        </a></li>
      </ul>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center py-3  align-items-center">
      <p>
        Desenvolvido com
        <i class="bi bi-heart-fill" style="color: red;"></i> 
        por:
      </p>
      <ul class=" list-unstyled d-flex">
        <li class="ms-3">
          <a href="https://github.com/bia-berenguel" target="_blank" class="nav-link p-0 text-body-secondary">Beatriz
          </a>
        </li>
        <li class="ms-3 ">
          <a href="https://github.com/CamomilaCosta" target="_blank" class="nav-link p-0 text-body-secondary">Camila</a>
        </li>
        <li class="ms-3">
          <a href="https://github.com/svhellen" target="_blank" class="nav-link p-0 text-body-secondary">Cristiele</a>
        </li>
        <li class="ms-3">
          <a href="#" class="nav-link p-0 text-body-secondary">Daniel</a>
        </li>
        <li class="ms-3">
          <a href="#" class="nav-link p-0 text-body-secondary"> </a>
        </li>
      </ul>
    </div>

    <a href="https://storyset.com/" target="_blank">Illustrations by Storyset</a>
    <div class="footer">
      <a href="https://github.com/squad41recode" target="_blank" rel="noopener noreferrer">
        <img src="../img/github.svg"></img>
        <p>Github</p>
      </a>
    </div>
  </footer>  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>