<!-- header crud -->
<div th:fragment="conteudo-header (title)">

	<div class="row text-center mx-0 my-2 p-0 menuCrud">
		
		<!--<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Library</a></li>
				<li class="breadcrumb-item active" aria-current="page">Data</li>
			</ol>
		</nav>-->

		<h1 class=" " th:include="${title}">Titulo do main</h1>
		<ul class="nav nav-tabs justify-content-center p-0">
			<li class="nav-item">
				<a th:href="@{/empreendedores}" class="nav-link">
					Empreendedores
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/mentores}" class="nav-link">
					Mentores
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/mentorias}" class="nav-link">
					Mentorias
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/mentorias-disponiveis}" class="nav-link">
					Mentorias Disponíveis
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/mentorias-adquiridas}" class="nav-link">
					Mentorias Adquiridas
				</a>
			</li>
			<li class="nav-item">
				<a th:href="@{/conteudos-online}" class="nav-link">
					Conteúdos Online
				</a>
			</li>
		</ul>
	</div>

</div>