<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">

<head>
	<title>Cadastrar Modalidade</title>
</head>

<body>
	<main>
		<!-- form  -->
		<form method="POST" th:object="${modalidadeMentoria}" class="  container-fluid mx-auto">
			<div class="  form-crud mx-auto">
				<fieldset>
					<legend>Dados modalidade</legend>

					<input type="hidden" th:field="*{id}">

					<div class="row">
							<div class="form-group">
								<label for="nome">Nome</label>
								<input type="text" class="form-control" placeholder="Nome" th:field="*{nomeModalidade}" required>
							</div>
						</div>
				<div class=" text-center row mt-3">
					<button type="submit" class="btn btn-primary mx-auto">Salvar</button>
				</div>
			</div>

		</form>
	</main>
</body>

</html>