<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">
<head>
	<title>Listagem Modalidades de Mentorias</title>
</head>
<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				
				<a th:href="@{/modalidades-mentorias/cadastrar}" class="btn btn-primary my-1">Nova modalidade</a>
				
				<div class="card">
					
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nome da modalidade</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="modalidade : ${modalidadesMentorias}">
									<td th:text="${modalidade.id}">000</td>
									<td th:text="${modalidade.nomeModalidade}">Exemplo nome modalidade</td>
									<td>
										<div class="btn-group">
											<a type="button" class="btn btn-warning"
												th:href="@{/modalidades-mentorias/editar/{id} (id=${modalidade.id})}">
												<i class="bi bi-pencil-square"></i>
											</a>
											<a type="button" class="btn btn-danger"
												th:href="@{/modalidades-mentorias/excluir/{id} (id=${modalidade.id})}"
												onclick="return confirm('Tem certeza que deseja excluir?');">
												<i class="bi bi-trash3"></i>
											</a>
										</div>
									<td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
