<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">
<head>
	<title>Listagem Mentorias Adquiridas</title>
</head>
<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				
				<a th:href="@{/mentorias-adquiridas/cadastrar}" class="btn btn-primary my-1">Nova mentoria adquirida</a>
				
				<div class="card">
					
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>Id Mentoria Adquirida</th>
									<th>Id da Mentoria Disponível</th>
									<th>Nome do empreendedor</th>
									<th>Ações</th>
									
								</tr>
							</thead>
							<tbody>
								<tr th:each="mentoriaAdq : ${EmpreendedorMentorias}">
									<td th:text="${mentoriaAdq.id}">000</td>
									<td th:text="${mentoriaAdq.mentorModalidade.id}">Id da Mentoria Disponível</td>
									<td th:text="${mentoriaAdq.empreendedor.nome}">Nome do empreendedor</td>
									<td>
										<div class="btn-group">
											<!--<a type="button"  class="btn btn-primary"
												th:href="@{/mentorias-adquiridas/{id} (id=${mentoriaAdq.id})}">
												<i class="bi bi-info-circle "></i>
											</a>-->
											<a type="button" class="btn btn-warning"
												th:href="@{/mentorias-adquiridas/editar/{id} (id=${mentoriaAdq.id})}">
												<i class="bi bi-pencil-square"></i>
											</a>
											<a type="button" class="btn btn-danger"
												th:href="@{/mentorias-adquiridas/excluir/{id} (id=${mentoriaAdq.id})}"
												onclick="return confirm('Tem certeza que deseja excluir?');">
												<i class="bi bi-trash3"></i>
											</a>
										</div>
									<td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
