<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">

<head>
	<title>Cadastrar Conteúdo Online</title>
</head>

<body>
	<main>
		<!-- form  -->
		<form method="POST" th:object="${conteudoOnline}" class="  container-fluid mx-auto">
			<div class="  form-crud ">
				<fieldset>
					<legend>Dados </legend>

					<input type="hidden" th:field="*{id}">

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label for="conteudo">Conteudo</label>
							<input type="text" class="form-control" placeholder="Conteudo" th:field="*{conteudo}"
								required>
						</div>
					</div>
			

			<div class="form-group col-4 p-0 ps-3">
				<label for="estado">Estado</label>
				<select th:field="*{modalidadeMentoria}" class="form-select" aria-label="Default select example">
					<option th:each="modalidade : ${mentorias}" th:text="${modalidade}" th:value="${modalidade}">Modalidade</option>
				</select>
			</div>
			</fieldset>
			<div class=" text-center row mt-3">
				<button type="submit" class="btn btn-primary col mx-auto">Salvar</button>
			</div>
</div>
		</form>
	</main>
</body>

</html>