<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">
<head>
	<title>Listagem Conteúdos Online</title>
</head>
<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				
				<a th:href="@{/conteudos-online/cadastrar}" class="btn btn-primary my-1">Novo Conteúdo Online</a>
				
				<div class="card">
					
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>Id</th>
									<th>Modalidade</th>
									<th>Conteúdo</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="conteudoOnline : ${ConteudosOnline}">
									<td th:text="${conteudoOnline.id}">183</td>
									<td th:text="${conteudoOnline.modalidadeMentoria.nomeModalidade}">maria@email.com</td>
									<td th:text="${conteudoOnline.conteudo}">conteudo</td>
									<td>
										<div class="btn-group"><!--data-toggle="popover" data-placement="top"
												data-content="Detalhes" data-trigger="hover" class="btn btn-primary"-->
											<a type="button"  class="btn btn-primary"
												th:href="@{/conteudos-online/{id} (id=${conteudoOnline.id})}">
												<i class="bi bi-info-circle "></i>
											</a>
											<a type="button" class="btn btn-warning"
												th:href="@{/conteudos-online/editar/{id} (id=${conteudoOnline.id})}">
												<i class="bi bi-pencil-square"></i>
											</a>
											<a type="button" class="btn btn-danger"
												th:href="@{/conteudos-online/excluir/{id} (id=${conteudoOnline.id})}"
												onclick="return confirm('Tem certeza que deseja excluir?');">
												<i class="bi bi-trash3"></i>
											</a>
										</div>
									<td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
