<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">

<head>
	<title>Mentores</title>
</head>

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nome</th>
									<th>Sobrenome</th>
									<th>Email</th>
									<th>WhatsApp</th>
									<th>Tipo de Experiência</th>
									<th>Data de Nascimento</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mentor : ${Mentores}">
									<td th:text="${mentor.id}">000</td>
									<td th:text="${mentor.nome}">Marinalva</td>
									<td th:text="${mentor.sobrenome}">Silva</td>
									<td th:text="${mentor.email}">marinalva@email.com</td>
									<td th:text="${mentor.whatsapp}">(99) 99999-0000</td>
									<td th:text="${mentor.tipoExperiencia}"></td>
									<td th:text="${mentor.dataNascimento}">01/01/1991</td>
									<td>
										<div class="btn-group">
											<a type="button" data-toggle="popover" data-placement="top"
												data-content="Detalhes" data-trigger="hover" class="btn btn-primary"
												th:href="@{/mentores/{id} (id=${mentor.id})}">
												<i class="fas fa-eye"></i>
											</a>
											<a type="button" data-toggle="popover" data-placement="top"
												data-content="Editar" data-trigger="hover" class="btn btn-warning"
												th:href="@{/mentores/editar/{id} (id=${mentor.id})}">
												<i class="fas fa-edit"></i>
											</a>
											<a type="button" data-toggle="popover" data-placement="top"
												data-content="Remover" data-trigger="hover" class="btn btn-danger"
												th:href="@{/mentores/excluir/{id} (id=${mentor.id})}"
												onclick="return confirm('Tem certeza que deseja excluir o mentor?');">
												<i class="fas fa-trash"></i>
											</a>
										</div>
									<td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
		</div>

	</main>

	<!--
	<th:block th:fragment="scripts">
		<script>
			$(function () {
				$('[data-toggle="popover"]').popover()
			})
		</script>
	</th:block>-->
</body>

</html>